@{
    ViewBag.Title = "Home Page";
    ViewBag.Guid = Guid.NewGuid().ToString();
}
<style>
    .jumbotron {
        color: black;
        padding: 10px;
        background-color: lightgoldenrodyellow;
    }

        .jumbotron h3 {
            color: black;
            font-weight: bold;
        }
</style>

<div class="page-header">

    <h2>
        Aplikasi Web Konfirmasi Pengguna Spektrum Frekuensi Radio
    </h2>

    @*<p>
        @ViewBag.Guid
    </p>*@

</div>

<div class="jumbotron">

    <h3>
        <span class="glyphicon glyphicon-paperclip"></span> Pengumuman Pelaksanaan Pemutakhiran Data Pengguna Frekuensi
    </h3>
    <hr />
    <p class="text-justify">
        Diberitahukan kepada seluruh pengguna spektrum frekuensi radio, sesuai dengan Pengumuman dari Direktur Operasi
        Sumber Daya Nomor : 8888/DJSDPPI.3/KOMINFO/04/2015 tanggal 18 April 2015, perihal Pengumuman Pekerjaan Pemutakhiran Data Layanan DTBD Tahun 2015, 
        maka diharapkan bagi Pengguna Spektrum Frekuensi Radio agar dapat melakukan konfirmasi dan klarifikasi data hasil audit dan perbaikan data.
    </p>

    @*    <p><a href="http://asp.net" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-calendar"></span> Learn more &raquo;</a></p>*@
</div>

<div class="jumbotron">

    <h3>
        <span class="glyphicon glyphicon-paperclip"></span> Pengumuman Pelaksanaan Pemutakhiran Data Pengguna Frekuensi
    </h3>
    <hr />
    <p class="text-justify">
        Diberitahukan kepada seluruh pengguna spektrum frekuensi radio, sesuai dengan Pengumuman dari Direktur Operasi
        Sumber Daya Nomor : 8888/DJSDPPI.3/KOMINFO/04/2015 tanggal 18 April 2015, perihal Pengumuman Pekerjaan Pemutakhiran Data Layanan DTBD Tahun 2015,
        maka diharapkan bagi Pengguna Spektrum Frekuensi Radio agar dapat melakukan konfirmasi dan klarifikasi data hasil audit dan perbaikan data.
    </p>

    @*    <p><a href="http://asp.net" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-calendar"></span> Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>